html,
body,
#app,
#app>div {
    height: 100%;
    background-color: #D4e8d6;
}

.App {
    text-align: center;
}

.App-footer {
    font-size: small;
    margin-top: 40px;
    padding: 15px;
    vertical-align: bottom;
}

.App-header {
    align-items: center;
    justify-content: center;
}

.App-logo {
    height: 215px;
    width: 215px;
}