section {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 10px rgb(0 0 0 /10%);
    padding: 5px;
    position: relative;
    margin: 15px;
}

.btn:focus {
    box-shadow: none;
    outline: none;
}

.form-control:focus {
    border-color: #C0c7c1;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hint {
    font-size: 12px;
    padding: 10px 0 0 20px;
    text-align: left;
}


.search-bar {
    margin: 1px;
    margin-left: 15px;
}

.search-btn {
    margin: 1px;
}